  :root{
    --textcolor : black;
    --paddingsmall : 10px;
}

.TopMenuComponent{
    display: flex;
    justify-items: center;
    justify-content: space-around;
    background-color: #282c34;
    padding: var(--paddingsmall);
} 

a{
    text-decoration: none;
    color: var(--textcolor);
}

a:hover{
    /* position:relative */
    color: plum;
}

.listBox{
    display: flex;
    width:100%;
    flex-direction: column;
    margin-bottom: 40px;
}

.list{
    background-color:#ffff;
    padding: 20px;
    margin-bottom: 40px;
}

